*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
#wrapper{
    width: 90%;
    margin: 0 auto;
    border: 2px solid black;
}
header h1{
    padding: 40px 0 0 0;
    background-color: blueviolet;
    color: white;
}

/* multi_drop-menu realisition */
/*  top menu */
/* visual style */
nav.multi_drop_menu{
    background-color: orange;
    font: 1em helvetica,arial,sans-serif;
}
nav.multi_drop_menu a{
    display: block;
    color: #555;
    background-color: #eee;
    padding: .2em 1em;
    border-width: 3px;
    border-color: transparent;
}
nav.multi_drop_menu a:hover{
    color: #fff;
    background-color: #aaa;
}
nav.multi_drop_menu a:active{
    color: #ccc;
    background-color: #fff;
}
/* function style */
nav.multi_drop_menu ul{
    float: left;                   /* 为了ul包围住li */
}
nav.multi_drop_menu li{
    float: left;
    list-style-type:none;
    position: relative;                /* 为子菜单提供定位上下文 */
}
nav.multi_drop_menu li a{
    display:block;
    border-right-style: solid;
    background-clip: padding-box;      
    text-decoration: none;
}
nav.multi_drop_menu li:last-child a{
    border-right-style: none;
}
nav.multi_drop_menu li:first-child a{
    border-left: 5px solid transparent;
}

/* 2nd menu */
/* visual style */
nav.multi_drop_menu li ul{
    width: 8em;
}
nav.multi_drop_menu li li a{
    border-right-style: none;
    border-top-style: solid;
}
/* function style */
nav.multi_drop_menu li ul{
    display:none;
    position: absolute;      /* 相对父菜单定位 */
    left:0;
    top: 100%;
}
nav.multi_drop_menu li:hover > ul{
    display: block;
}
nav.multi_drop_menu li li{
    float: none;
}
/* 3rd menu */
nav.multi_drop_menu li li ul{
    position: absolute;
    left: 100%;
    top: 0;
}
/* show the path you choose */
nav.multi_drop_menu li:hover > a{
    color: #fff;
    background-color: #aaa;
}



section#titlepic{
    width: 100%;
    height: 80px;
    overflow: hidden;
}

section#partsection3{
    border-top: 8px solid orange;
    border-bottom: 8px solid orange;
    overflow: hidden;
}

section#partsection3 article{
    width: 33.33%;
    float: left;
    background-color:white;
    min-height: 350px;                   /* 用于子元素垂直方向居中 */
    display: flex;                      
    align-items: center; 
}


section#partsection3 article div{
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
}

section#partsection3 article:nth-child(1) div{
    border: 2px solid aqua;
}
section#partsection3 article:nth-child(2) div{
    border: 2px solid orange;
}
section#partsection3 article:nth-child(3) div{
    border: 2px solid greenyellow;
}

section#partsection4{
    display:flex;
}
section#partsection4 article div{
    background-color: rgb(137, 137, 247);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}
footer{
    background-color: blueviolet;
    text-align: center;
    color: white;
}